
.reservation {
     flex-direction: column;
    position: absolute;
    z-index: 100 ;
    background-color: rgba(0, 0, 0, 0.5);
    width: 18em;
    padding: 4em 1em   ;
    align-items: center;  
    top : -20em   
}

.reservationApprouved {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color :white;    
    border: solid 1px black;
    text-align: center;
    height: 8em;
  
}
 
.reservationApprouved p {
    text-align: center;
   
}

.reservation button {
  
    align-self: flex-end;

}
