
.search-recipe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 4em;

  .search-recipe-wrapper-title {
    color: white;
    margin-top: 2em;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
  }
  .search-recipe-blocs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
