 .search-localisation-city-select2 {
  /*width: 25em;
  background-color: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2em 2em 4em 2em;
  padding: 1em; */
  font-family: Montserrat;

  } 