.App {
    display: flex;
    flex-direction: row;
    text-align: center;
    
    height: 700px;
  }
  
  .App-image {
    border-radius: 10%;
    margin: 100px;
  
  }
  
  .App-soiréé {
  
    text-align: center;
    margin: 100px;
    font-size: 18px;
    line-height: 42px;
    
  }
  
  #btn {
    background-color: white;
    height: 30px;
    width: 200px;
    margin: 100px;
    font-family:"Montserrat" sans-serif;
    font-size: 22px;
    border-width: 0 0 2px 0 ;
    outline: 0;
  }

  

  h1 {
    font-family:"Cormorant", serif ;
  }
  
  p {
    font-family: "Montserrat", sans-serif;
  }
  