.display-container {
    display: flex;
    flex-direction: column; 
    margin-top: 5%;     
    justify-content: space-between;
    font-size: medium;
}
  
  .display-image img{   
    max-width: 80%;
  }

  .display-image {
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .display-host-planning{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    text-align: left;   
    width: 30%;
  }

  .display-host-planning input[type="button"] {
    align-self: center; 
  }

  
  .display-text-info {
    align-self: center;
    padding-top: 5em; 
    
  }
  
  .display-evening { 
    display: flex; 
    justify-content: space-evenly;   
    flex-wrap: wrap;
  }

  .display-container input[type="button"] {
    background-color: white;
    height: 30px;
    width: 200px;
    margin: 100px;
    font-family:"Montserrat" sans-serif;  
    border-width: 0 0 2px 0 ;
    outline: 0;
  }

  .display-container h2 {
    font-family:"Cormorant", serif ;
    padding-bottom: 0.3em;  
  }
  
  .display-container p {
    font-family: "Montserrat", sans-serif;   
  }
  
  .display-details {
    display: flex;
    justify-content:space-evenly ;     
  }
  
  .display-details h3 {
  padding-bottom: 0.3em;
  }
  
  .display-host {  
    margin: 5em;   
    color:black;
    padding:1em;
  }

  .display-guest {  
    margin: 5em; 
    background-color:#E6E6EA;
    color: black;
    padding:1em;
  }

  .display-container h3 {
    font-family:"Cormorant", sans-serif;
  }

  .dislay-hr-top{
    margin: 7em 2em 2.5em 2em ; 
  }
  .dislay-hr-bottom{
    margin: 2.5em 2em 7em 2em ; 
  }
 