.display-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: space-between;
  font-size: medium;
}

.display-image img {
  max-width: 80%;
}

.display-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-host-planning {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 30%;
}

.display-host-planning input[type='button'] {
  align-self: center;
}

.display-text-info {
  align-self: center;
  padding-top: 5em;
}

.display-evening {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.display-container input[type='button'] {
  background-color: white;
  height: 30px;
  width: 200px;
  margin: 100px;
  font-family: 'Montserrat' sans-serif;
  border-width: 0 0 2px 0;
  outline: 0;
}

.display-container h2 {
  font-family: 'Cormorant', serif;
  padding-bottom: 0.3em;
}

.display-container p {
  font-family: 'Cormorant', serif;
}

/* parti animation */
.team-area {
  padding: 8% 0;
}
.row {
  display: flex;
  justify-content: space-evenly;
}
.liena:hover,
.liena:focus {
  color: white;
}

.liena {
  display: block;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.6);
  position: relative;
  background: white;
  text-decoration: none;
  color: black;
  padding-bottom: 30px;
  width: 500px;
  height: 300px;
}
.liena img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 330px;
  transition: 1s;
  clip-path: circle(0% at 0% 100%);
}

.liena:hover img {
  clip-path: circle(180% at 0% 150%);
}
.text-t {
  text-align: center;
}

.text-t h2 {
  font-family: 'Cormorant', serif;
  padding-top: 5%;
}
.text-t p {
  font-family: 'Cormorant', serif;
  padding: 0 8%;
  font-size: 18px;
}
