.n {
    display: flex;
    flex-direction: row;
    margin: 100px;
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    
    
   
  }
  
  .Proposer {
  
    text-align: center;
    
    
  }
  
  .Manger {
  
    text-align: center;
  
  }