.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: medium;
  width: 100%;
}

.display-image img {
  max-width: 80%;
}

.display-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-host-planning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-host-planning input[type="button"] {
  align-self: center;
}

.display-evening {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;

  margin-top: 3em;
}

.display-text-info {
  width: 30em;
  text-align: center;
}

.display-container input[type="button"] {
  background-color: white;
  height: 30px;
  width: 200px;
  margin: 2em;
  border-width: 0 0 2px 0;
  outline: 0;
  font-family: "Cormorant", serif;
  font-size: medium;
  transition: 0.4s;
}
.display-container input[type="button"]:hover {
  background-color: black;
  color: white;
}

.display-container h2 {
  font-family: "Cormorant", serif;
  padding-bottom: 0.3em;
}

.display-container p {
  font-family: "Cormorant", serif;
}

.dislay-hr-top {
  margin: 7em 2em 2.5em 2em;
  width: 80%;
}
.dislay-hr-bottom {
  margin: 2.5em 2em 7em 2em;
  width: 80%;
}

.team-area {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.liena:hover,
.liena:focus {
  color: white;
}

.liena {
  display: block;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  background: white;
  text-decoration: none;
  color: black;
  width: 495px;
  height: 330px;
  margin: 2em 0 2em 0;
}

.bisS {
  background: black;

  color: white;
}

.liena img {
  position: absolute;
  left: 0;
  top: 0;
  width: 496px;
  transition: 2s;
  clip-path: circle(0% at 0% 100%);
}

.liena:hover img {
  clip-path: circle(180% at 0% 150%);
}

.text-t {
  text-align: center;
}

.text-t h2 {
  font-family: "Cormorant", serif;
  padding-top: 5%;
}

.text-t p {
  font-family: "Cormorant", serif;
  padding: 0 8%;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  .liena {
    width: 350px;
    height: 233px;
  }
  .display-evening {
    justify-content: center;
    width:100%;
  }

  .liena img {
    width: 351px;
  }

  .team-area {
    justify-content: center;
  }

  .display-text-info {
    width: 20em;
    margin-top: 1em;
    text-align: center;
  }

  .display-host-planning {
    width: 100%;
  }

  .display-container {
    width: 80%;
  }

  .dislay-hr-top {
    margin: 2em 2em 2.5em 2em;
    width: 80%;
  }
  
}
