.guest-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  color: black;
  width: 80%;    
  border: 1px solid black;
  font-family: Cormorant;
  font-size: medium;
}

.guest-header div {
  display: flex;
  align-items: center;
}

.guest-header label {
  margin-right: 10px;
}

.guest-header select {
  height: 33px;
  background-color: white;
  color: black;
  border-width: 0 0 2px;
  font-family: Montserrat;
}

.guest-header select:focus {
  outline: none;
}

.guest-img {
  max-width: 40%;
  margin: 20px auto 20px auto;
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  display: inline-block;
  z-index: 0;
}


.wrapper-search-guest{  
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;  
  margin-top: 3em;
  padding: 10em 0 10em 0;
}