.guest-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  background-color: black;
  padding-top: 32px;
}
.guest-city {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

input.guest-calendar {
  font-size: 20px;
  width: 100px;
  height: 40px;
}
.guest-plat {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

input.guest-search {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.guest-result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 300px;
  height: 180px;
  font-size: 25px;
  padding: 10px;
  background-color: black;
  border-radius: 8px;
  color: white;
}

.guest-result-affiche {
  background-color: white;
  font-size: 20px;
  width: 200px;
  height: 100px;
  padding: 6px;
  border-radius: 8px;
  color: black;
}
