.guest-handing {
  margin-top: 60px;
  background: url('../assets/bann.jpg');
  background-size: cover;
  width: 100%;
  height: 400px;
}

.guest-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
  background-color: black;
}

.calendar-container {
  position: relative;
}

.calendar-container div.calendar-fixed-position {
  position: absolute;
  width: 300px;
  height: 200px;
}

.calendar-container div.calendar-fixed-position > div.react-calendar {
  position: absolute;
}

.guest-city {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

input.guest-calendar {
  font-size: 20px;
  width: 100px;
  height: 40px;
}
.guest-plat {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

input.guest-search {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.guest-result {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 350px;
  height: 200px;
  font-size: 25px;
  padding: 10px;
  background-color: black;
  border-radius: 8px;
  color: white;
}

.guest-result-affiche {
  background-color: white;
  font-size: 20px;
  width: 200px;
  height: 100px;
  padding: 6px;
  border-radius: 8px;
  color: black;
}
