nav {
    border-bottom: 1px solid black;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 1em;
    font-family: 'Cormorant', serif;
    list-style: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 8000px;
}

.signInButton {
    font-family: 'Montserrat', sans-serif;
}


.my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }