nav {
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 1em;
  z-index: 10000;
  background-color: white;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1em;
    font-family: "Cormorant", serif;
    list-style: none;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 8000px;
  }
  img {
    width: 5%;
  }
  li {
    transition: 0.3s;
    align-self: flex;
    cursor: pointer;
    &:hover {
      font-size: 18px;
      border-bottom: 1px solid black;
    }
  }
  .signInButton {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    outline: 0;
    border-width: 0 0 2px;
    transition: 0.4s;
  }
  .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}
.logo {
  height: 100px;
  width: 180px;
  border-radius: 10%;
}
figure {
  position: relative;
  overflow: hidden;
  margin: 0;

  filter: grayscale(0.8);
}

figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
figure:hover {
  animation: bloom ease-in-out 0.75s forwards;
}
figure:hover::before {
  animation: circle 0.75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(0.8);
  }
  40% {
    filter: grayscale(0.5);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(213, 156, 34, 0.2);
  }
  40% {
    opacity: 1;
    background: rgba(213, 34, 160, 0.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
