nav {
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  padding: 0.5em;
  width: 100%; 
  z-index: 10000;
  background-color: white;
  display: flex;
  align-items: center;
 

  ul {    
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Cormorant", serif;
    list-style: none;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
  }
  li {
    transition: 0.3s;
    align-self: flex;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      border-bottom: 1px solid black;
    }
  }
  .signInButton {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    outline: 0;
    border-width: 0 0 2px;
    transition: 0.2s;
    padding: 0.2em;
    margin-right: 0.5em;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .my-node-enter {
    opacity: 0;
  }
  .my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-node-exit {
    opacity: 1;
  }
  .my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}

@media screen and (max-width: 640px) {
  nav {
    h1 {
      display: none;
    }
    ul{
      justify-content: space-around;
    } 
  }
}
