.recipe-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.recipe-card h2 {
  font-family: "MontSerrat", serif;
}
.item-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.recipe-card-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%; 
}

.recipe-items {
  margin: 1em 1em 1em 0;
}

.recipe-items img {
  max-width: 100%;
}

.item-card h3 {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: large;
}

@media screen and (max-width: 640px) {
  .item-card {
    justify-content: flex-start;
  }
  .recipe-items {
    margin: 0;
  }
  .recipe-items img {
    max-width: unset;
  }
  .recipe-card-cont{
    justify-content: center;
    align-items: center;
  }
}
  