.wrapper-signin {
  border: 1px solid black;
  padding: 1em 0 1em 0;
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  top: var(--hauteur);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  outline: 0;
  border-width: 0 0 1px;
  padding-bottom: 1em;
  transition: 0.4s;
}

input[type="text"]:focus {
  outline: none;
  padding: 0;
}

::placeholder {
  color: black;
  font-family: "Cormorant", serif;
}



.disabled {
  pointer-events: none;
  background-color: grey;
  transition: 0.4s;
  color: red;
}

input[type="button"] {
  background-color: white;
  outline: 0;
  border-width: 0 0 2px;  
  transition: 0.4s;
}

