.recipe-card {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
  }
  
  .item-card {    
    margin: 1em;    
    width: fit-content;
    display : flex ;
    flex-direction : column ;
    align-items: flex-start;
  }
  
  .item-card p {
    align-self: center;
    font-family: Cormorant;    
  }
  
  .item-card img {
    max-width: 100%;
    height : 8em ;
  }
  
  .item-card h1 {
    font-family: Montserrat;
    font-size: 1em;
  }

  
  