.suggestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suggetionTitle {
    margin-top: 3em;
    font-family: "Montserrat", sans-serif;
}

.card p {     
    font-family : Cormorant ;
    text-decoration: none;
    max-height: 5em ; 
    overflow : hidden;
    position: absolute;
    width: 100%;        
}

.card a {
    text-decoration: none;    
}

.card {
    margin: 6em;
    display :flex ;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.cardTitle {
    font-family: "Cormorant", serif;
}

.cardResult {
    display: flex ;
    flex-direction: column;
    width : 22.5% ;  
    margin:0 3em 1.5em ;
    margin: 20px 10px 60px 20px ;
    border: 1px solid lightgray;
    height: 20em;
    transform: scale(1);
    transition: 0.8s;
}

.cardResultOn {
    display: flex ;
    flex-direction: column;
    width : 22.5% ;   
    margin: 20px 10px 60px 20px ;
    border : lightgray solid 2px;
    transform :scale(1.1);
    background-color : white;
    height: 20em;
    transition: 0.8s;
}

.button {
    display: flex;
    justify-content: space-around;
}

.button button {
    background-color: white;
    border: 0;
    font-family: "Montserrat", sans-serif;
    border-bottom: 2px solid black;
    transition: 0.3s;
    margin: 5em 0 0 0;
}

.button button:hover {
    background-color: black;
    color: white;
}

.card img {
    /* margin-top: 2em; */
    width : 100%;
}

.card h2 {
    height :25px ;
    font-family: "Cormorant", serif;
    text-align: center;
    margin-top: 0.5em;
}