.guest-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-size: 20px;
}

.guest-header > div {
  display: flex;
  align-items: center;
}

.guest-header label {
  margin-right: 10px;
}

.guest-header select {
  height: 32px;
  background-color: white;
  color: black;
}

.guest-img {
  width: 60px;
  height: 60px;
  margin: 20px auto 20px auto;
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
